<thf-page-default t-title="Análise de Resultados">
  <div class="thf-row">
    <div class="thf-md-12">
      <div class="div-list thf-sm-12 thf-md-12 thf-lg-12">
        <div class="div-rigth">
          <!--bqa-rating [checked]="source[0].source_id" disable="true" hiddenLabel="true" ></bqa-rating-->
        </div>
        <bqa-widget-header *ngFor="let item of source; let i = index"
          [title]=item.source_name 
          [queryOk]="(item.total_queries - (item.dbms_fails -- item.advpl_fails))" 
          [queryFail]="(item.dbms_fails -- item.advpl_fails)"
          [totalQuery]=item.total_queries
          (filter)="needFilter($event)"
          >
        </bqa-widget-header>
      </div>
      <div class="div-list thf-sm-12 thf-md-12 thf-lg-12">
          <bqa-queries [idSource]=id_source [filterQuery]=showQuery></bqa-queries>
      </div>
    </div>
  </div>
</thf-page-default>