<div class="">
  <div class="rating-system1">
    
    <input type="radio" name='rate' id="star5" [checked]="star5" [disabled]="disable" />
    <label for="star5"></label>

    <input type="radio" name='rate' id="star4" [checked]="star4" [disabled]="disable"/> 
    <label for="star4"></label>

    <input type="radio" name='rate' id="star3" [checked]="star3" [disabled]="disable"/>
    <label for="star3"></label>

    <input type="radio" name='rate' id="star2" [checked]="star2" [disabled]="disable"/>
    <label for="star2"></label>

    <input type="radio" name='rate' id="star1" [checked]="star1" [disabled]="disable"/>
    <label for="star1"></label>

    <div class="text" [hidden]="hiddenLabel" ></div>
  </div>
  <br>
</div>