.btn-right {
    float: right;
    margin-top: 10px
}
.div-rigth{
    float: right;
}
.label-left {
    margin-top: 10px;
    text-align: left;
}
.label-right {
    text-align: right;
}
.pgPlan {
    width: 250%;
}
.oraPlan {
    width: 200%;
}